html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{ margin:0; padding:0; border:0; outline:0;
 font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
  @import url(http://allfont.ru/allfont.css?fonts=roboto-regular);
  @import url(http://allfont.ru/allfont.css?fonts=roboto-bold);
  @import url(http://allfont.ru/allfont.css?fonts=roboto-italic);
 body{background:url(images/body.png) no-repeat;background-size: cover; font-family: 'Roboto Regular', arial;}

/* header */
/* navbar */
#accordion{display: none;}
.wrapper{margin: 0 auto;max-width: 1400px;}
.navbar-brand{padding: 0 0 5px 0}
.navbar{background:url(images/Head-BG.png);margin-left: 70px;margin-top: 40px;height: 85px;max-width: 1259px;}
.navbar li{float: left;margin-left: 30px;list-style: none;padding-top: 20px;}
.navbar li a{color: white;text-decoration: none;}
.navbar a:hover{color:#55b2f3;}
.Categoriesbutton{float: left;margin-left: 5px;margin-top: 28px;}
.group-shape{float: left;margin-left: 15px;margin-top: 20px;}
.banner{float:right;padding-right: 15px;padding-top: 10px;}
.fa-bars {display:none; }

/* redrow */
.breakingnews{background: #f3f3f3; ;margin-left: 70px;margin-top: -19px;height: 40px;max-width: 1259px;box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.imgbreak{float: left;margin-left: -15px;margin-top:-2px;}
.redrow{position: absolute;color: white;font-family: "Roboto Regular", arial;font-size: 16px;font-weight: 400;line-height: 18px;left:25px;top:5px;z-index:99;}
.lorem{font-size: 12px;font-weight: 400;line-height: 18px;font-family: 'Roboto Bold', arial;padding: 5px 50px 0 5px;text-align:center;margin-top: 5px;}
.fa-star{color:#aeaeae;float: left;position: absolute;left: 605px;bottom:15px;}
.social-buttons{float: right;color:#aeaeae;padding:0 10px 0 20px;display:block;}
.sb{text-decoration: none;margin-left: 10px;background-color: #e9e9e9;display: inline-block;width: 40px;height: 40px;padding:10px 0 0 12px ;margin:0 auto;}
.active-social{background-color: #325c94;color: white;}
.sb:hover{background-color: #325c94;color: white;}
a > i{color:#aeaeae;}
/* slider */
.carusel{max-width: 1259px;height: 350px;position: relative;}
.bgslider.bot{position: relative;top: 30%;left: 4.5%;height: 350px;max-width: 1259px; background:url(images/bg.png);background-image: linear-gradient(to top, black 0%, transparent 100%);margin-right: -29px;}
.bot{position: absolute;bottom:2%;}

.text-caption{color:white;font-family: 'Roboto Bold', arial;font-size: 16px;font-weight: 550;line-height: 24px;width: 240px;width: 200px;}
.details-description{font-family: 'Roboto Regular', arial;font-size: 10px;font-weight: 400;line-height: 21px;color: #8c8c8c;}

/* group 1 */
.details-caption1{position: absolute;top:68%;left: 5%;}
.i-open-folder1{position: absolute;top:88%;left: 5%;}
.text-description1{position: absolute;top:87%;left: 7%;}
.i-user1{position: absolute;top:88%;left: 14%;}
.i-calendar1{position: absolute;top:88%;left: 16%;}
.i-message1{position: absolute;top:88%;left: 18%;}

/* group2 */
.details-caption2{position: absolute;top:68%;left: 24%;}
.i-open-folder2{position: absolute;top:88%;left: 24%;}
.text-description2{position: absolute;top:87%;left: 26%;}
.i-star2{position: absolute;top:88%;left: 34%;}
.i-user2{position: absolute;top:88%;left: 36%;}
.i-calendar2{position: absolute;top:88%;left: 38%;}

/* group3 */
.details-caption3{position: absolute;top:73%;left: 43%;}
.i-open-folder3{position: absolute;top:88%;left: 43%;}
.text-description3{position: absolute;top:87%;left: 45%;}
.i-user3{position: absolute;top:88%;left: 52%;}
.i-calendar3{position: absolute;top:88%;left: 54%;}
.i-message3{position: absolute;top:88%;left: 56%;}

/* group4 */
.details-caption4{position: absolute;top:68%;left: 61%;}
.i-open-folder4{position: absolute;top:88%;left: 61%;}
.text-description4{position: absolute;top:87%;left: 63%;}
.i-user4{position: absolute;top:88%;left: 71%;}
.i-star4{position: absolute;top:88%;left: 73%;}
.i-calendar4{position: absolute;top:88%;left: 75%;}
.i-message4{position: absolute;top:88%;left: 77%;}

/* group5 */
.details-caption5{position: absolute;top:68%;left: 82%;}
.i-open-folder5{position: absolute;top:88%;left: 82%;}
.text-description5{position: absolute;top:87%;left: 84%;}
.i-star5{position: absolute;top:88%;left: 91%;}
.i-user5{position: absolute;top:88%;left: 93%;}
.i-calendar5{position: absolute;top:88%;left: 95%;}
.i-message5{position: absolute;top:88%;left: 97%;}

/* vigets-area */
.vigets-area{margin-left: 55px;max-width: 1275px;background-image: url("images/Boxed-BG.png");margin-top: -15px;}
/* колонка 1 */
/* block lastest-posts */
.item-block,.item-block1,.item-block2{display: inline-block;margin-left: 15px;padding-top: 20px;position: relative;padding-bottom: 10px;}
.block{padding-top: 60px;padding-left: 30px;}
.title-block{float: left;font-family: 'Roboto Bold', arial;}
.dotted{float: left;padding-left: 15px;margin-bottom: 15px;}
.wrapper-item{border-top:2px solid #2d2d2d;margin-top: 10px;border-left: 1px solid #e3e3e3;box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);border-right: 1px solid #e3e3e3;box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);border-bottom: 1px solid #e3e3e3;box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);clear: both;overflow: hidden;}
.title-text{position: absolute;bottom:20%;left: 6%;font-family: "Roboto Regular", arial;color: #FFF;font-size: 16px;font-weight: 400;line-height: 24px;}
.rate{position: absolute;right:0;top:10;background:#2d2d2d;;height: 75px;width: 80px;}
.rate-text{font-family: "Roboto Regular", arial;color: #FFF;}
.text1{color: white;font-size: 25px;padding: 0 0 0 25px;}
.text2{font-weight: 400;line-height: 18px;color: #9e9e9e;font-size: 11px;padding-left: 15px;}
/* item details */
.item-details{font-family: "Roboto Regular", arial;color: #b3b3b3;font-size: 10px;font-weight: 400;line-height: 21px;}
/* group 1 */
.item.icon-folder-open{position: absolute;bottom: 12%;left: 7%;}
.item.text-title{position:absolute;bottom: 10%;left: 16%;}
.item.icon-user{position: absolute;bottom: 12%;left: 66%;}
.item.icon-clendar{position: absolute;bottom: 12%;left: 74%;}
.item.icon-message{position: absolute;bottom: 12%;left: 82%;}
/* block news-in-picture  */
.item-block1{height: 270px;width: 260px;background: #c3c3c3;display: inline-block;padding-left: 15px;padding-right: 5px;float: left;margin-top: 15px;width: 260px;height: 241px;margin-bottom: 20px;}
.item-block2{height: 70px;width: 70px;background: #c3c3c3;padding-top: 2px;padding-left: 5px;float: left;margin-top: 15px;margin-bottom: 0px;}
.block.news-in-picture{overflow: hidden;margin-bottom: 5px;}
/* block carousel-posts */
.Ellipse{margin-left: 3px;margin-bottom: 5px;}
.dotted{padding-right: 5px;}
.meida-block2,.meida-block1{width: 160px;height: 120px;background: #c4c4c4;display: inline-block;margin-top: 20px;margin-left: 15px;margin-bottom: 100px;}
.meida-block1{background: #2d2d2d;position: relative;}
.media-block-title{float: left;padding-top: 120px;font-family: "Roboto Regular", arial;margin-top: 15px;color: #2d2d2d;font-size: 16px;font-weight: 400;line-height: 24px;}
.headset{position: absolute;top: 70%;left: 10%;}
.clendar{float: left;margin-top: 15px;}
.date{font-family: "Roboto Regular", arial;color: #b3b3b3;font-size: 11px;font-weight: 400;line-height: 21px;float: left;padding-left: 10px;padding-top: 10px;}
/* Entertainment   */
.item-block{float: left;}

/* block group */
.item-block3,.item-block4,.item-block5,.item-block6{width: 63px;height: 63px;background: #787878;float: left;}
.small-item-title,.small-item-title1,.small-item-title-1{font-family: "Roboto Regular", arial;float: left;padding-left: 70px;color: #2d2d2d;font-size: 14px;font-weight: 400;line-height: 20px;width: 250px;margin-left: 20px;}

/* block3 */
.item-block3{margin-top: 20px;margin-left: 20px;}
.star3{float: left;margin-left: 90px;margin-top: 10px;}
.calendarik3{float: left;margin-top: -10px;margin-left: 115px;}
.user3{float: left;margin-left: 140px;margin-top: -11px;margin-bottom: 15px;}
.line3{float: left;margin-top: -4px;}
/* block4 */
.item-block4{margin-top: 100px;margin-left: -65px;}
.calendarik4{float: left;margin-left: 90px;margin-top: 10px;}
.user4{float: left;margin-left: 115px;margin-top: -10px;}
.message4{float: left;margin-left: 140px;margin-top: -10px;margin-bottom: 5px;}
.line4{float: left;}
/* block5 */
.item-block5{margin-top: 180px;margin-left: -65px;}
.star5{float: left;margin-left: 90px;margin-top: 10px;}
.calendarik5{float: left;margin-left: 115px;margin-top: -10px;}
.user5{float: left;margin-left: 140px;margin-top: -10px;}
.message5{float: left;margin-left: 165px;margin-top: -10px;margin-bottom: 5px;}
.line5{float: left;}
/* block6 */
.item-block6{margin-top: 270px;margin-left: -65px;}
.calendarik6{float: left;margin-left: 90px;margin-top: 10px;}
.user6{float: left;margin-left: 115px;margin-top: -10px;}
.message6{float: left;margin-left: 140px;margin-top: -10px;margin-bottom: 5px;}


/* banneragain */
.banneragain{float: left;margin-top: 20px;margin-left: 40px;}


/* колонка 2 */
/* popular posts */
.item-block3{margin-top: 20px;margin-left: 20px;}
.star3{float: left;margin-left: 90px;margin-top: 10px;}
.calendarik3{float: left;margin-top: -10px;margin-left: 115px;}
.user3{float: left;margin-left: 140px;margin-top: -11px;margin-bottom: 15px;}
.line3{float: left;margin-top: -4px;}
/* block4 */
.item-block4{margin-top: 100px;margin-left: -65px;}
.calendarik4{float: left;margin-left: 90px;margin-top: 10px;}
.user4{float: left;margin-left: 115px;margin-top: -10px;}
.message4{float: left;margin-left: 140px;margin-top: -10px;margin-bottom: 5px;}
.line4{float: left;}
/* block5 */
.item-block5{margin-top: 180px;margin-left: -65px;}
.star5{float: left;margin-left: 90px;margin-top: 10px;}
.calendarik5{float: left;margin-left: 115px;margin-top: -10px;}
.user5{float: left;margin-left: 140px;margin-top: -10px;}
.message5{float: left;margin-left: 165px;margin-top: -10px;margin-bottom: 5px;}
.line5{float: left;}
/* block6 */
.item-block6{margin-top: 270px;margin-left: -65px;margin-bottom: 15px;}
.calendarik6{float: left;margin-left: 90px;margin-top: 10px;}
.user6{float: left;margin-left: 115px;margin-top: -10px;}
.message6{float: left;margin-left: 140px;margin-top: -10px;margin-bottom: 5px;}
.line6{float: left;}

.Popular.Posts{margin-top: 58px;}
/*.bgitem{margin-bottom: 5px;}*/
.dotted2{float: left;padding-left: 15px;margin-bottom: 15px;}


/* Poll */
.Poll{margin-top: 40px;}
.title{font-family: "Roboto Regular", arial;color: #131313;font-size: 16px;font-weight: 400;line-height: 20px;text-align:center;}
input[type="radio"] {  display: none;vertical-align:middle;}
input[type="radio"] + label {	background:url("images/radiobutton.png") no-repeat;display: block;vertical-align:middle;}
input[type="radio"]:checked + label {color: #55b2f3;background:url("images/check-radiobutton.png") no-repeat ;vertical-align:middle;}
.questions{margin-left: 20px;vertical-align:middle;padding-bottom: 15px;vertical-align:middle;font-family: "Roboto Regular", arial;}
.block-questions{margin-left: 20px;}
form{margin-top: 25px;}
input[value]{border: none;font-family:"Roboto Regular", arial;font-size: 15px;font-weight: 400;line-height: 20px;color:white;}
input[value="Vote"]{background:#55b2f3;width: 70px;height: 32px;margin-right: 5px;}
input[value="View Results"]{background:#2d2d2d;margin-top: 30px;margin-bottom: 30px;width: 126px;height: 32px;}


/* slider posts */
.slider.posts{margin-top: 40px;}
.dotted1{padding-left: 5px;}

/* Tags */
.tags{margin-top: 40px;}
.item-tags{height: 35px;background:#2c2c2c;color:white;display: inline-block;border-radius: 3px;text-align: center;padding:5px 12px 0 12px;font-family:"Roboto Regular", arial;margin-top: 2px;    font-size: 15px;
    font-weight: 400;}
.tags-group{margin-left: 15px;margin-top: 15px;margin-bottom: 10px;}
.checked-active{background:#55b2f3;}


/* NewsLetters */
.newsletters{margin-top: 40px;}
.e-mail{position: relative;}
.fa-thumbs-o-up{position: absolute;left: 75%;top:25%;color:#8b8b8b}
input[type="email"]{width: 240px;height: 40px;padding-left: 15px;margin-left: 10px;margin-bottom: 15px;color: #afafaf;font-family: 'Roboto Italic', arial;font-style: italic;background-color: #f8f8f8;border: 1px solid #e5e5e5;}
input[type="email"]:hover{border:1px solid #55b2f3;}

/* video widget */
.video-widget{margin-top: 40px;height: 350px;}
.video-player{margin-left: 20px;margin-top: 20px;margin-bottom: 40px;}
.youtube{display: none;}

/* sidebar */

/* social links */

.social-links{padding-top: 50px;position: relative;}
.f{left: 8%;top: 40%}
.t{left: 40%;top: 40%}
.r{left: 70%;top: 40%}
.soc{position: absolute;}
.subscribe{font-family:"Roboto Regular", arial;position: absolute;font-size: 12px;font-weight: 400;line-height: 14px;color:white}
.subscribe.f{top: 70%;left: 11%;}
.subscribe.t{top: 70%;left: 39%;text-align: center;}
.subscribe.r{top: 70%;left: 67%;text-align: center;}

/* banner sidebar */
.banner-sidebar{margin-top: 40px;}

/* login */
.login{margin-top: 40px;}
.forgotpassword:hover{text-decoration: none;color:#55b2f3;}
.forgotpassword{font-family:"Roboto Regular", arial;color: #636363;font-size: 12px;font-weight: 400;line-height: 20px;margin-left: 20px;}
input[value="Log in"]{background:#55b2f3;width: 80px;height: 32px;margin-left: 20px;margin-top: 15px;margin-right: 15px;margin-bottom: 20px;}
.user1,.password1{width: 240px;padding: 5px;margin-bottom: 10px;margin-left: 20px;}
.loginform{margin-top: 20px;margin-bottom: 10px;}
.remember{margin-left: 5px;font-family:"Roboto Regular", arial;color: #9f9f9f;font-size: 12px;font-weight: 400;line-height: 20px;}

/* archive */
.archive{margin-top: 40px;}
.calendar-widget{margin-left: 25px;margin-top: 20px;margin-bottom: 10px;}

/* like-us */
.like-us{margin-top: 40px;}
.like-us-img{margin-left: 25px;margin-top: 20px;margin-bottom: 10px;}



/* footer */
/* colum1 */
footer{margin-left: 70px;max-width: 1259px;background-color:#2d2d2d;min-height:500px;}
.colum1, .colum2, .colum3{margin-top: 70px; margin-left: 40px;}
p, .contact{margin-left: 10px;color: #cacaca;font-family:"Roboto Regular", arial;font-size: 13px;font-weight: 400;line-height: 24px;max-width: 377px;height: 181px;margin-bottom: 10px;}
.contact{margin-right: 15px;}
.social-buttons2{margin-top: 45px;margin-left: 0px;}
.social-buttons2 i {margin-left: 15px;}
.active-social1{padding: 7px;background:#4d6baa;-webkit-border-radius: 3px;border-radius: 3px;color:white;}

/* colum2*/
.colum2{overflow: hidden;}
.Popular.Posts1{color: #cacaca;font-family:"Roboto Regular", arial;font-size: 13px;font-weight: 400;line-height: 24px;width: 377px;height: 181px;margin-top: -350px;margin-left: 50px;margin-bottom: 15px;}
h3{font-family:"Roboto Regular", arial;color: white;font-size: 20px;font-weight: 400;line-height: 24px;margin-left: 20px;}
.re{width: 80px;height: 80px;margin-bottom: 15px;}
.small-item-title1{color: #cacaca;font-family:"Roboto Regular", arial;font-size: 13px;font-weight: 400;line-height: 24px;}
.itemsblockre{margin-right: 30px;display: block;}


.item-block3-1,.item-block4-1,.item-block5-1{width: 100%;}
/*.sta1,.cal1,.use1,.cal2,.use2,.mes2,.st3,.cal3,.use3,.mes3,.cal4,.use4,.mes4{float: left;}*/
.title-block1{color: white;font-size: 20px;font-weight: 400;line-height: 24px;margin-bottom: 50px;float: left;margin-left: 5px;}
.Popular213{width: 100%;margin-top: 10px;margin-left: 30px;}
.wrappermaybe{margin-top: -370px;margin-right: 300px;}
/* group icon */
.small-item-title-1{color:white;}
.item-block3-1,.item-block4-1,.item-block5-1{width: 80px;height: 80px;background: #787878;float: left;margin-bottom: 15px;}

/* colum3 */

.news-in-picture-1{margin-top: -425px;}
.item-block2-1{height: 80px;width: 80px;background: #c3c3c3;padding-top: 2px;padding-left: 15px;margin-top: 15px;display: inline-block;margin-left: 5px;}
.title-block-1{color: white;font-size: 20px;font-weight: 400;line-height: 24px;margin-bottom: 50px;float: left;margin-left: 5px;}
.wrappermaybe-1{float: left;margin-right: 15px;margin-left: 15px;margin-top: -20px;}

/* bottom-footer */
.bottom-footer{max-width: 1259px;}
.copyright{font-family:"Roboto Regular", arial;color: #9f9f9f;font-size: 12px;font-weight: 400;line-height: 18px;margin-left: 100px;}
..bottom-navbar{margin-right: 30px;}
.bottom-navbar li{float: right;list-style: none;padding-right: 10px;margin-top: -20px;padding-left: 10px;}
.bottom-navbar li a{color: white;text-decoration: none;}
.bottom-navbar a:hover{color:#55b2f3;}
.group-shape1{float: right;margin-top: -20px;margin-right: 5px;margin-bottom: 10px;}





																/*Медиа запросы однако*/
@media screen and (max-width:1364px), handheld and (max-width:1364px){
.wrapper{max-width: 1259px;}
.social-buttons{padding:0;margin-top: -22px; }
.carusel{max-width: 1259px;}
.bgslider.bot{position: relative;margin-left: 60px;left: 0%;margin-right: -15px;margin-left: 57px;}
.social-buttons{padding:0;margin-top: -22px; }


}
@media screen and (max-width:1322px), handheld and (max-width:1322px){
.hide-soc{display: none;}
.wrapper{max-width: 1240px;}
.social-links{margin-left: 2px;}
.f{left: 8%;top: 40%}
.t{left: 30%;top: 40%}
.r{left: 50%;top: 40%}
.hide{display:none;}
.row{padding: 0;margin: 0;}
.hide2{display: none;}
.item-block{float: left;margin-left: 15px;padding-top: 5px;padding-bottom: 5px;width: 50%;}
.wrapper-item.size{display: inline-block;float: left;}
.wrapper-item.size2{max-width: 420px;}
.dotted.size{max-width: 420px;}
.dotted.size1{max-width: 280px;}
.bgitem.size{max-width: 150px;height: 150px;}
.item-block.adptive{display: inline-block;float: left;width: 20%;margin-right: 40px;}
.title-text{position: absolute;bottom:40%;left: 6%;font-size: 12px;}
.meida-block1{margin-right: 20px;}
.meida-block2{margin-left: 20px;padding-left: 20px;}
.item-block3,.item-block4,.item-block5,.item-block6{width: 0px;height: 0px;float: left;margin-left: -40px;margin-bottom: 2px;}
.line5,.line3,.line4{padding-left: 10px;}
.user1,.password1{width: 200px;}
.calendar-widget{margin-left: 5px;}
.like-us-img{margin-left: 7px;}
.social-buttons{padding:0;margin-top: 0px; }
.imgbreak{float: left;margin-left: -30px;margin-top:-2px;}
.banneragain{margin-bottom: 15px;}
.bgslider.bot{margin-right: -30px;margin-left: 40px;}
.fa-bars{display: none;}

}
@media screen and (max-width:1250px), handheld and (max-width:1250){

.navbar li{float: left;margin-left: 10px;list-style: none;padding-top: 20px;}
.container-fluid{margin: 0;padding: 0;}
.wrapper{max-width: 1200px;margin: 0;padding: 0;}
.bgslider.bot{margin-right: -12px;margin-left: 55px;}
.breakingnews{max-width: 1100px;margin-left: 85px;}
.hide3,.footershape{display: none;}
.social-buttons{padding:0;margin-top: 0px;margin-right: -10px;}

}

@media screen and (max-width:1135px), handheld and (max-width:1135px){
.hide4{display: none;}
.navbar li{float: left;margin-left: 5px;list-style: none;padding-top: 20px;}
.item-block.adptive{display: inline-block;float: left;width: 20%;margin-right: 30px;}
.bgitem.size{max-width: 100px;height: 100px;}
.social-buttons2 i {margin-left: 10px;}
input[value="View Results"]{margin-top: 10px;margin-bottom:0px;}
form{margin-bottom: -80px;}
.fa-bars{width: 150px;height: 150px;padding-left: 120px;padding-top: 20px;position: absolute;cursor:pointer;color:#55b2f3;display:block;}
.navbar ul {display:none;position: absolute;left: 5%; top: 50%;background-color: #292929;float: none;display: block;padding: 5px;border-radius:5px;}
.navbar li a{display: block;float: none;}
.meida-block2,.meida-block1{width: 160px;height: 120px;margin-top: 20px;margin-left: 15px;margin-bottom: 110px;}
.item-block1{height: 240px;width: 230px;padding-left: 15px;padding-right: 5px;float: left;margin-top: 15px;;margin-bottom: 10px;}
.item-block2{height: 70px;width: 70px;padding-top: 2px;padding-left: 5px;float: left;margin-top: 15px;margin-bottom: 0px;display: inline-block;}
.banneragain{float: left;margin-top: 20px;margin-left: 5px;}
.user1,.password1{max-width: 180px;}
.video-player{padding-left: 0px;margin-bottom: 5px;margin-right: 0px;margin-left: 0;padding: 5px;}
iframe{max-width: 200px;}

}


@media screen and (max-width:1100px), handheld and (max-width:1100px){
.hide5{display: none;}
.youtube{display: block;}
.meida-block2,.meida-block1{width: 160px;height: 120px;margin-top: 20px;margin-left: 15px;margin-bottom: 110px;}
.item-block1{height: 230px;width: 230px;padding-left: 15px;padding-right: 5px;float: left;margin-top: 15px;;margin-bottom: 5px;}
.item-block2{height: 65px;width: 65px;padding-top: 2px;padding-left: 5px;float: left;margin-top: 15px;margin-bottom: 0px;display: inline-block;}
.bgitem{max-width: 220px;height: 250px;}
.item-block3,.item-block4,.item-block5,.item-block6{width: 0px;height: 0px;float: left;margin-left: -70px;margin-bottom: 2px;}
.banneragain{float: left;margin-top: 20px;margin-left: 5px;width: 430px;}
}

@media screen and (max-width:1070px), handheld and (max-width:1070px){
.bgitem{max-width: 210px;height: 250px;}
.user1,.password1{max-width: 160px;}
.item-block1{height: 220px;width: 220px;padding-left: 15px;padding-right: 5px;float: left;margin-top: 15px;;margin-bottom: 0px;}
.item-block2{height: 63px;width: 63px;padding-top: 2px;padding-left: 3px;float: left;margin-top: 15px;margin-bottom: 0px;display: inline-block;}
}
@media screen and (max-width:992px), handheld and (max-width:992px){
.hide6{display: none;}
.navbar ul {display:none;position: absolute;left: 20%; top: 50%;background-color: #292929;float: none;display: block;padding: 5px;border-radius:5px;}
.user1,.password1{max-width: 250px;}
input[value="Log in"]{margin-left: 10px;margin-top: 0px;margin-right: 15px;margin-bottom: 20px;}
.calendar-widget{margin-left: 100px;margin-top: 20px;margin-bottom: 10px;}
.like-us-img{margin-left: 100px;margin-top: 20px;margin-bottom: 10px;}
.social-links{margin-left:0px;}
.r,.t,.f{position: static;float: right;margin: 0;padding: 0;}
}
@media screen and (max-width:980px), handheld and (max-width:980px){
.hide7{display: none;}
.item-block1{height: 240px;max-width: 230px;padding-left: 10px;padding-right: 5px;float: left;margin-top: 15px;;margin-bottom: 5px;}
.item-block2{height: 70px;max-width: 70px;padding-top: 2px;padding-left: 30px;float: left;margin-top: 15px;margin-bottom: 0px;margin-left: 45px;}

}



