html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{ margin:0; padding:0; border:0; outline:0;
 font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit;
 vertical-align:baseline; }

@font-face {src:url(font/notcouriersans.ttf);}
body{font-family: Georgia;height: 100%;background-color: white;}
a{text-decoration: none;}
ul li, {text-decoration: none;}
.contact li{list-style-type: none;}
.wrapper{margin:0 auto; position: relative;max-width:940px;height: auto;}
.logo{float: left;padding: 5px;}
nav{float: left;margin-top: 60px;margin-right:20px;}
nav ul li{display: inline}
nav a{font-size: 13px;margin-left: 10px;color: #3d3d3d;}
nav a:hover{color: #af2c2c ; }
.line{margin-bottom: -10px;margin-left: 5px;}
.contact{float: right;margin-left: 30px;padding-top: 10px; font-size: 13px;}
#phone{    font-size: 18px;  color: #cf3232;    font-weight: 700;}
.email{    color: #a72c2c;}
.contact li{margin-bottom: 10px;     color: #a0a0a0;}
.car{width: 100%;height: auto;margin-bottom: 15px; margin-top: 25px;}
.slider{width: 100%;height: auto;margin-bottom: 15px;clear: both;position: relative;}
.cartext1{position: absolute;top:30%;left:10%;line-height: 1.5em; }
.cartext1 .cartext{text-transform: uppercase; color: white; background-color:#1e1e1e}
.content{overflow: hidden;}
aside{width: 140px;margin-top: 5px;float: left;  }
aside a{ color: #5d5d5d;    font-size: 13px;    line-height: 13px;}
aside li{margin-bottom: 10px;}
aside a:hover{color:black;}
section{margin-left: 170px; max-width: 774px;color: #575656;    font-size: 13px;   }
h1{color: #373737; font-size: 16px;font-weight: 700;  padding-top:5px; margin-bottom: 25px;  }
.redstring{text-indent: 30px;}
.redtext{color: #8c1a1a; text-decoration: underline;}
footer{height: auto;width: 100%;margin: 0 auto;}
.logofooter{float: left;}
.copyright{color:#8c8c8c;font-size: 16px;height:18px;font-family:'notcouriersans';letter-spacing:2px;position: absolute;bottom:-5% ; left:2%;}
.footer-contact{float: right;margin-top: 30px;  color: #939393;}
.number{margin-right: 30px;     font-size: 19px;font-weight: bold;}


																/*Медиа запросы однако*/
@media screen and (max-width:880px), handheld and (max-width:880px){
.copyright{display:block;width: 90%;text-align: center;}
.footer-contact{float: none;margin-top:0px;display:block;width: 100%;text-align: center;}
.number{margin-right:0px;display:block; width: 100%;text-align: center;}
.logofooter{float: none; width: 100%;text-align: center;}
}





@media screen and (max-width:800px), handheld and (max-width:800px){

.contact li{margin-bottom: 0px;float: none;margin-left: 0px;padding-top: 0px;}
.contact{position: absolute;right: 0%;top: 0%;}
nav{margin-top: 80px;}



}

@media screen and (max-width:580px), handheld and (max-width:580px){

.line{display:none;}
}


@media screen and (max-width:500px), handheld and (max-width:500px){
nav{margin-top: 60px;margin-bottom: 20px; text-align: center;width: 100%;display: block;}
nav ul li{text-align: center;width: 100%;display: block; margin-bottom: 15px;}

.logo{text-align: center;width: auto;}
.contact{float: left; position: relative;text-align: center;width: 90%;}
aside{text-align: center;width: 100%;margin-bottom: 25px;clear: both;}
aside li{ list-style-type:none;}
section{margin-left: 0px; width: 100%;text-align: center;}

@media screen and (max-width:490px), handheld and (max-width:490px){




}

@media screen and (max-width:400px), handheld and (max-width:400px){

	nav li{display: block;text-align: center;width: 100%;}
}
